<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.miniprojet">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCZjBO9FonrPSyYrf1lnfDCryqKqAh1WOI"/>
        <activity android:name=".MapsActivity"
            android:label="Your Location"/>
        <activity android:name=".UpdateActivity"
            android:parentActivityName=".MainActivity"/>
        <activity
            android:name=".AddActivity"
            android:label="Add User"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".MainActivity"
            android:label="User List">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>